html,
body {
  width: 100%;
  height: 100%;
}
.box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: absolute;
  z-index: 9;
}
.header {
  width: 100%;
  height: 1.55rem;
  line-height: 1.55rem;
  text-align: center;
  position: relative;
  color: #000;
  background-color: #fff;
  font-size: 20px;
}
.lef {
  width: 0.6rem;
  height: 0.55rem;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 85%;
  margin: auto;
  color: #00C6AF;
}
.fork {
  width: 0.9rem;
  height: 0.55rem;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 85%;
  right: 0%;
  margin: auto;
  color: #00C6AF;
}
.rate {
  width: 100%;
  height: 5.56rem;
  background-color: #FFAF32;
}
.product {
  margin-left: 0.54rem;
  color: #8C5B02;
  margin-top: 0.43rem;
  font-size: 16px;
}
.product img {
  width: 0.3rem;
  height: 0.3rem;
  display: inline-block;
}
.expect {
  margin-left: 0.98rem;
  margin-top: 0.89rem;
  color: #8C5B02;
  font-size: 16px;
}
.figure {
  width: 100%;
  color: #fff;
  font-size: 36px;
  text-align: center;
}
.know {
  color: #8C5B02;
  width: 100%;
  text-align: right;
  margin-top: 0.51rem;
  font-size: 16px;
}
.wap {
  -webkit-box-flex: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.particular li {
  width: 100%;
  line-height: 0.9rem;
  padding-left: 20px;
  font-size: 16px;
}
.particular li .data {
  padding-left: 10px;
}
.btn {
  width: 100%;
  height: 1.48rem;
  background-color: #FFA900;
  display: inline-block;
  border: solid 1px #FFA900;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
}
.on {
  color: red;
}
